.creation {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1%;
  margin-bottom: 172px;

  .heading {
    text-transform: uppercase;
    //font-weight: 400;
    grid-column: 1/3;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 33%;
  }
  a {
    text-transform: uppercase;
    grid-column: 5/6;
    //grid-column: 6/-1;
    width: 160px;
    height: 45px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    color: $black;
    background: $white;
    border: 2px solid;
    margin-top: 10%;
    margin-right: 38%;
  }

  a:hover {
    color: $white;
    background: $black;
  }

  .gallery {
    grid-column: 1/-1;
    display: flex;
    margin: 5% 0 0 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .image {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-deep-earth.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        transition: all 5s ease-in-out;
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-deep-earth.jpg');
        .title {
          color: $black;
        }
      }
    }
    .image:nth-child(2) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-night-arcade.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-night-arcade.jpg');
      }
    }
    .image:nth-child(3) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-soccer-team.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-soccer-team.jpg');
      }
    }
    .image:nth-child(4) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-grid.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-grid.jpg');
      }
    }
    .image:nth-child(5) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-from-above.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-from-above.jpg');
      }
    }
    .image:nth-child(6) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-pocket-borealis.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-pocket-borealis.jpg');
      }
    }
    .image:nth-child(7) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-curiosity.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-curiosity.jpg');
      }
    }
    .image:nth-child(8) {
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url('../../images/desktop/image-fisheye.jpg');
      height: 450px;
      width: 256px;
      position: relative;

      &:hover {
        background: linear-gradient(
            rgba(240, 240, 240, 0.5),
            rgba(240, 240, 240, 0.5)
          ),
          url('../../images/desktop/image-fisheye.jpg');
      }
    }
    .title {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: $white;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 32px;
      padding: 0 25px 0 30px;
    }
  }
}

@media (max-width: 768px) {
  .creation {
    .heading {
      grid-column: 1/-1;
      margin-left: 0;
      //margin-left: 15px;
      margin-top: 32%;
      text-align: center;
      //font-weight: normal;
      padding-left: 0;
      font-size: 60px;
      font-weight: 300;
    }

    a {
      grid-column: 2/6;
      grid-row: 6/7;
      margin: 15% 0 25% 10%;
      background: $white;
      color: $black;
      border: 2px solid;
      text-align: center;
      width: 317px;
      height: 84px;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      padding: 3%;
      letter-spacing: 10px;
    }

    .gallery {
      grid-row: 2/6;
      margin-left: -5px;

      .title {
        width: 50%;
        font-weight: normal;
      }

      .image {
        background-image: url('../../images/mobile/image-deep-earth.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-deep-earth.jpg');
        }
      }
      .image:nth-child(2) {
        background-image: url('../../images/mobile/image-night-arcade.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-night-arcade.jpg');
        }
      }
      .image:nth-child(3) {
        background-image: url('../../images/mobile/image-soccer-team.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-soccer-team.jpg');
        }
      }
      .image:nth-child(4) {
        background-image: url('../../images/mobile/image-grid.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-grid.jpg');
        }
      }
      .image:nth-child(5) {
        background-image: url('../../images/mobile/image-from-above.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-from-above.jpg');
        }
      }
      .image:nth-child(6) {
        background-image: url('../../images/mobile/image-pocket-borealis.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-pocket-borealis.jpg');
        }
      }
      .image:nth-child(7) {
        background-image: url('../../images/mobile/image-curiosity.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-curiosity.jpg');
        }
      }
      .image:nth-child(8) {
        background-image: url('../../images/mobile/image-fisheye.jpg');
        height: 240px;
        width: 654px;
        background-size: cover;

        &:hover {
          background: linear-gradient(
              rgba(240, 240, 240, 0.5),
              rgba(240, 240, 240, 0.5)
            ),
            url('../../images/mobile/image-fisheye.jpg');
        }
      }
    }
  }
}
